 <div class="topbar">
      <div class="fill">
        <div class="container fixed">
          <h3><a href="#">{{ title }}</a></h3>
          <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>