<html>
	<head>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css">
		<link rel="stylesheet" href="{{ asset('bundles/igabootstrap/css/default.css') }}">
		
	</head>
	<body>


<body>
  <div class="topbar-wrapper" style="z-index: 5;"> 
    <div class="topbar"> 
      <div class="fill"> 
        <div class="container"> 
          <h3><a href="#">Project Name</a></h3> 
          <ul> 
            <li class="active"><a href="#">Home</a></li> 
            <li><a href="#">Link</a></li> 
            <li><a href="#">Link</a></li> 
            <li><a href="#">Link</a></li> 
          </ul> 
          <form action=""> 
            <input type="text" placeholder="Search" /> 
          </form> 
          <ul class="nav secondary-nav"> 
            <li class="menu"> 
              <a href="#" class="menu">Dropdown</a> 
              <ul class="menu-dropdown"> 
                <li><a href="#">Secondary link</a></li> 
                <li><a href="#">Something else here</a></li> 
                <li class="divider"></li> 
                <li><a href="#">Another link</a></li> 
              </ul> 
            </li> 
          </ul> 
        </div> 
      </div> <!-- /fill --> 
    </div> <!-- /topbar --> 
  </div> <!-- topbar-wrapper --> 




  <div class="container main">
  lkj
  lj<br>
  dsf<br>
  daf
    ...
  </div>
</body>

  
 <div style="display:none">
	 <!-- Modal --> 
        <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1"> 
          <div class="modal-header"> 
            <h3>Modal Heading</h3> 
            <a href="#" class="close">&times;</a> 
          </div> 
          <div class="modal-body"> 
            <p>One fine body…</p> 
          </div> 
          <div class="modal-footer"> 
            <a href="#" class="btn primary">Primary</a> 
            <a href="#" class="btn secondary">Secondary</a> 
          </div> 
        </div> 
  </div>
	</body>
</html>